# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Production bundle
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and editors
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# Testing
coverage

# Vercel
.vercel

# Cloudflare
.cloudflare
.wrangler

# Misc
*.log
.cache
temp
tmp
node_modules
